/**
 * @author Doğan TV UXQuark
 */

.logo {
    @include dims(232px, 25px);
    @include retina-image('../images/logo');
    background: center left no-repeat;
    background-size: 232px auto;
    text-indent: -9999px;
}