/** -------------------------------------------
    Paragraph
    ------------------------------------------- **/

.paragraph {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    &:last-child { margin-bottom: 0; }
}