/**
 * @author Doğan TV UXQuark
 */

/** -------------------------------------------
    Generic Styles
    ------------------------------------------- **/

html, body {
    color: $color-dark-gray;
}

body {
    background-color: $color-white;
    overflow: hidden;
}

body[class*="-toggled"] {
    overflow-x: hidden;
    position:fixed;
}