/**
 * @author Doğan TV UXQuark
 */

/** -------------------------------------------
    Navigations
    ------------------------------------------- **/

.documents-menu {
    @include scrollbar(3px, $color-text, $color-light-gray);

    position: fixed;
    padding: $base-gutter;
    width: 20%;
    height: 100%;
    left: -20%;

    overflow-y: scroll;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #F1F1F1;

    h1,h2,h3,h4 {
        margin: 0;
        font-weight: 300;
    }

    .form-elements {
        margin-bottom: 1em;
        list-style: none;

        &:last-child { margin-bottom: 0; }

        li {
            margin-top: 0.2em;
            margin-bottom: 0;

            a {
                color : $color-text;
                font-size: 13px;
                padding :0;

                &:hover,
                &:focus {
                    color : $color-link-hover;
                }
            }
        }
    }

    &.content-open {
        left: 0;
    }
}