/**
 * @author Doğan TV UXQuark
 */

/** -------------------------------------------
    Top Nav
    ------------------------------------------- **/

.documents-top-nav {
    position: relative;
    display: block;
    padding: 15px $base-gutter * 2;
    background-color: #f1f1f1;
    font-size: 13px;
    min-height: 45px;

    .icon { font-size: 2em; }

    a {
        margin-left: 10px;

        &:first-child { margin-left: 0; }

        &.slide-menu,
        &.slide-tablet {
            position: absolute;
            top: 8px;
            cursor: pointer;
        }
        &.slide-menu {left: 20px;}
        &.slide-tablet {right: 20px;}
    }
}

