.fieldset {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px dashed #d1d1d1;
    padding: 30px 20px 15px 20px;
    margin: 30px 0 20px 0;

    legend {
        position: absolute;
        left: 10px;
        top: -16px;
        font-size: 18px;
        background: $color-white;
        padding: 0 10px;
        color: $color-text;
    }

    .fieldset-content {
        float: left;
        width: 100%;
        margin-bottom: 20px;

        &:last-child {margin-bottom: 0; }

        .fieldset {
            margin: 10px 0;
        }
    }
}