.icon-arrow-left:before {
    content: "\EA01"
}

.icon-arrow-right:before {
    content: "\EA02"
}

.icon-calendar:before {
    content: "\EA03"
}

.icon-caret-down:before {
    content: "\EA04"
}

.icon-caret-up-down:before {
    content: "\EA05"
}

.icon-caret-up:before {
    content: "\EA06"
}

.icon-check:before {
    content: "\EA07"
}

.icon-birthday-cake:before {
    content: "\EA08"
}

.icon-cross:before {
    content: "\EA09"
}

.icon-delete:before {
    content: "\EA0A"
}

.icon-double-arrow-left:before {
    content: "\EA0B"
}

.icon-double-arrow-right:before {
    content: "\EA0C"
}

.icon-face-happy:before {
    content: "\EA0D"
}

.icon-face-neutral:before {
    content: "\EA0E"
}

.icon-face-unhappy:before {
    content: "\EA0F"
}

.icon-flag:before {
    content: "\EA10"
}

.icon-folder:before {
    content: "\EA11"
}

.icon-magnify:before {
    content: "\EA12"
}

.icon-mic:before {
    content: "\EA14"
}

.icon-minus:before {
    content: "\EA15"
}

.icon-more:before {
    content: "\EA16"
}

.icon-clock:before {
    content: "\EA17"
}

.icon-plus:before {
    content: "\EA18"
}

.icon-settings:before {
    content: "\EA19"
}

.icon-user:before {
    content: "\EA1B"
}

.icon-cogs:before {
    content: "\EA1C"
}

.icon-cross-circle:before {
    content: "\EA1D"
}

.icon-edit:before {
    content: "\EA1E"
}

.icon-folder-files:before {
    content: "\EA1F"
}

.icon-logout:before {
    content: "\EA20"
}

.icon-more-vertical:before {
    content: "\EA21"
}

.icon-organization:before {
    content: "\EA22"
}

.icon-phone:before {
    content: "\EA23"
}

.icon-plus-circle:before {
    content: "\EA24"
}

.icon-shuffle:before {
    content: "\EA25"
}

.icon-target:before {
    content: "\EA26"
}

.icon-turkcell-cloud:before {
    content: "\EA27"
}

.icon-turkcell:before {
    content: "\EA28"
}

.icon-wifi:before {
    content: "\EA29"
}

.icon-arrow-light:before {
    content: "\EA2A"
}

.icon-print:before {
    content: "\EA2B"
}

.icon-call-center:before {
    content: "\EA2C"
}

.icon-document:before {
    content: "\EA2D"
}

.icon-notice:before {
    content: "\EA2E"
}

.icon-operator:before {
    content: "\EA2F"
}

.icon-information:before {
    content: "\EA30"
}

.icon-refresh:before {
    content: "\EA31"
}

.icon-card:before {
    content: "\EA32"
}

.icon-stars:before {
    content: "\EA33"
}

.icon-folder-upload:before {
    content: "\EA34"
}

.icon-corporate:before {
    content: "\EA35"
}

.icon-individual:before {
    content: "\EA36"
}

.icon-receipt:before {
    content: "\EA37"
}

.icon-sim-card:before {
    content: "\EA38"
}

.icon-sim-cards:before {
    content: "\EA39"
}

.icon-bookmark-outline:before {
    content: "\EA3A"
}

.icon-stamp:before {
    content: "\EA3B"
}

.icon-balloon:before {
    content: "\EA3C"
}

.icon-operator-help:before {
    content: "\EA3D"
}

.icon-computer:before {
    content: "\EA3E"
}

.icon-lte:before {
    content: "\EA3F"
}

.icon-contract:before {
    content: "\EA40"
}

.icon-smartphone:before {
    content: "\EA42"
}

.icon-menu:before {
    content: "\EA13"
}

.icon-tablet:before {
    content: "\EA1A"
}
