/**
 * @author Doğan TV UXQuark
 */

/** -------------------------------------------
 
    ------------------------------------------- **/

.documents-container {
    position: relative;
    width: 100%;
    height: 100%;
    left :0;
    overflow: hidden;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .documents-content {
        @include scrollbar(3px, $color-text, $color-light-gray);
        position: fixed;
        float: left;
        vertical-align: top;
        padding: 20px 20px 0 20px;
        width: 100%;
        height: 95%;
        overflow-y: auto;
        background-color:#FDFDFD;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .content-holder {
            float: left;
            width: 100%;
            margin-bottom: $base-gutter;

            &:last-child {margin-bottom: 0;}
        }

        .pre {
            position: relative;
            float: left;
            width: 100%;

            pre {margin: 0;}

            code {
                float: left;
            }
        }
    }

    &.content-to-right {
        width: 80% !important;
        left: 20% !important;
    }
    &.content-to-left {
        .documents-content {width: 50%;}
    }
}

.documents-simulation {
    position: fixed;
    right: -50%;
    width: 50%;
    height: 100%;
    padding: $base-gutter 10px;
    vertical-align: top;
    background-color: #FBFDFE;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.content-open {
        right: 0;
    }
}

.tablet-layout {
    border :1px solid $base-border-color;
    border-radius: 25px;
    padding: 30px 20px;

    .tablet-wrap {
        background-color: $color-white;
        border :1px solid $base-border-color;
        padding: 15px;
    }

    .tablet-button {
        position: relative;
        left: 50%;

        width: 45px;
        height: 45px;
        border: 1px solid $base-border-color;
        border-radius: 100%;

        margin: 20px 0 0 -45px;
    }
}