/**
 * @author Doğan TV UXQuark
 */
/** -------------------------------------------
    TFaces Header
    ------------------------------------------- **/

header {
    position : relative;
    display  : block;

    .documents-top-head {
        display          : block;
        padding          : 10px $base-gutter;
        background-color : #012A3E;
        color            : $color-white;

        .icon { font-size: 1.5em; color: $color-white; }

        p {
            margin: 0px;
            text-align: center;
        }

        a {
            margin-left: 10px;

            &:first-child { margin-left: 0; }

            &.slide-menu,
            &.slide-tablet {
                position: absolute;
                top: 8px;
                cursor: pointer;
            }
            &.slide-menu {left: 20px;}
            &.slide-tablet {right: 20px;}
        }
    }
}