/**
 * @author Doğan TV UXQuark
 */

/** -------------------------------------------
    Page Layout
    ------------------------------------------- **/

.documents-wrapper {
    @include app-transition();
    position: relative;
    left: 0;
    width: 100%;
}